@import "tailwindcss";

@theme {
  --font-inter: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
  --font-cardo: var(--font-cardo), ui-serif, Georgia, serif;
  --font-manrope: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-dm-sans: var(--font-dm-sans), ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #004d99; /* Adjust according to actual primary color */
  --color-secondary: #002244;
}

@layer base {
  html, body {
    @apply h-full antialiased text-gray-800 bg-white;
  }
}
